table{
    border: 1px solid rgb(255,93,91);
    width: 800px;
    font-family: Georgia, serif;
}

th, td{
    padding: 7px 10px 10px 10px;
}

th{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    border-bottom: 2px solid rgb(255,93,91);
    border-top: 1px solid rgb(255,93,91);
}

tr.even{
    background-color:lightgrey;
}

tr.hover{
    background-color:darkgray;
}


body{
    width:90%;
    margin:0 auto;
    background-color: rgb(197,184, 154);
    font-family:'Railway', sans-serif;
    text-align: center;
    margin:0 auto;
    color:rgb(51,51,51);
}

.site_title{
line-height: 55px;
width:200px; 
   height:200px;
   border-radius:150px;
   background-color:#333;
   padding: 50px;
   text-align: center;
   letter-spacing: 5px;
  color:lightgray;
  float: left;
}

nav{
    text-decoration: none;
    color:rgb(255,93,91);
    display:inline-block;
    font-size: 35px;
    letter-spacing: 10px;
   
}

ul{
    text-decoration:none;
    color:rgb(255,93,91);
    display:inline-block;
}

li{
  text-decoration:none;
    color:rgb(255,93,91);
    display:inline-block;
     border-left:solid rgb(255,93,91);
     padding-left: 10px;
}

img{
    float:clear;
}


p::first-letter{
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.store_pics:{
    float:center;
}


.visit_store{
    text-indent: 10px;
    float:center;
}

#nav_footer li{
    
    color:rgb(255,93,91);
    font-size: 20px;
    float:center;
    margin:0 auto;
}
