.site_title{
line-height: 55px;
width:200px; 
   height:200px;
   border-radius:150px;
   background-color:#333;
   padding: 50px;
   text-align: center;
   letter-spacing: 5px;
   color: lightgray
   

}

body{
    font-family: Helvetica;
    text-align: center;
    background: rgb(209, 201,183); 
}

#storeLocations ul{
list-style: none;

}

#storeLocations li{
    display: inline-block;
    color: rgb(240,217,210);
    
}


table.altrowstable {
border: 5px, solid black;
}